.swp
.*.swp
ac-aux/
aclocal.m4
autom4te.cache/
config.h*
config.log*
config.status*
configure
stamp*
Makefile
Makefile.in
*/Makefile
*/Makefile.in
src/Emakefile
src/Emakefile.in
ebin/*.app
ebin/*.app.in
ebin/*.appup
ebin/*.beam
testsuite/etest
testsuite/dialyzer
.project

# Files produced by Debian package.
build-stamp
configure-stamp
debian/*.debhelper.log
debian/*.substvars
debian/build
debian/files
debian/syslogger
debian/*-stamp
