.swp
.*.swp
*.Pbeam
*.beam
ac-aux/
aclocal.m4
autom4te.cache/
config.h*
config.log*
config.status*
configure
stamp-*
.deps
.rebar
Makefile
Makefile.in
*/Makefile
*/Makefile.in
ebin/sysloggerl.app
ebin/sysloggerl.appup
logs
testsuite/logs
testsuite/*.log
testsuite/analyze_coverdata.escript
testsuite/cover_to_html.sh
testsuite/run_common_test
testsuite/sysloggerl.coverspec

# Files produced by Debian package.
build-stamp
configure-stamp
debian/*.debhelper.log
debian/*.substvars
debian/build
debian/files
debian/erlang-sysloggerl
debian/*-stamp
debian/autoreconf.*
debian/watch
