.swp
.*.swp
*.Pbeam
*.beam
ac-aux/
aclocal.m4
autom4te.cache/
config.h*
config.log*
config.status*
configure
stamp-*
.deps
.rebar
Makefile
Makefile.in
*/Makefile
*/Makefile.in
ebin/syslogger.app
ebin/syslogger.appup

testsuite/etest
testsuite/dialyzer

# Files produced by Debian package.
build-stamp
configure-stamp
debian/*.debhelper.log
debian/*.substvars
debian/build
debian/files
debian/syslogger
debian/*-stamp
debian/watch
