Source: erlang-sysloggerl
Section: devel
Priority: optional
Maintainer: Christopher Faulet <christopher@yakaz.com>
Uploaders: Jean-Sébastien Pédron <jean-sebastien@yakaz.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, erlang-dev (>= 1:14.b.2),
 erlang-tools
Standards-Version: 3.9.4

Package: erlang-sysloggerl
Architecture: all
Depends: ${misc:Depends}, ${erlang:Depends}
Description: Syslog logger for Erlang
 An pure Erlang/OTP application for logging messages to a syslog daemon, using
 UDP sockets. It provides a customizable error_logger report handler and
 supports several loggers with different logging options.
